body  {
  background-color: black;
    font-family: Arial, Verdana, cursive;
    color: white;
    max-width: 1400px;
}
header {
  height: 120px;
}


@font-face {
	font-family: 'Kaushan Script';
	src: url('KaushanScript-Regular.eot');
	src: url('KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
		url('KaushanScript-Regular.woff') format('woff'),
		url('KaushanScript-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
span.header {
  position: absolute;
  display: inline;
  z-index: 10;
}
h1 {
  font-family: KaushanScript-Regular, cursive;
  font-size: 48px;
  position: absolute;
  top: 0px;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  color: darkgrey;
}
ul.sociallogo {
  margin-left: 500px;
  margin-top: 60px;

}
.socialline {
  display: inline-block;
  padding-left: 10px;
}
.social {
  height: 30px;
  width: 30px;
}
h1.oblique-name {
  color: limegreen;
  opacity: .33;
}
h1.oblique-name:hover {
  opacity: .00;
}
h1.solid-name  {
  z-index: -1;
}
.Wrap {
  margin: 0px auto;
  padding-top: 60px;
  left: 10px;
  right: 10px;
}
.Images {
  display: inline;
  width: 300px;
  margin: 0px;
  height: 300px;
  left: 10px;
  right: 10px;
}
.img {
  margin: 0px 20px 30px 20px;
  -moz-box-shadow: 5px 5px 5px #ffffff;
  -webkit-box-shadow: 5px 5px 5px #ffffff;
  box-shadow: 10px 10px 0px rgba(50,205,50,.4);
  border-radius: 50px;
}
a {
  text-decoration: none;
  color: limegreen;
  font-weight: bold;
}
/*ul.in-line  */
a:hover {
  color: darkgrey;
  font-weight: bold;
  text-decoration: none;
}
/*div.footer {
  position: absolute;
  bottom: 20px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  height: 20px;
  display: flex;
  vertical-align: baseline;
  justify-content: center
}*/
footer {
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin: 0px 10px 10px 10px;
}
.emailnote {
  left: 10px;
  right: 10px;
  text-align: center;
  margin-top: 60px;
  padding-top: 30px;
}
.backgroundimg {
  padding: 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: .40;
  width: 110%;
  height: 100%;
  z-index: -1;
}
.comments {
    opacity: .4;
    -moz-box-shadow: 5px 5px 10px rgba(50,205,50,.3);
    -webkit-box-shadow: 5px 5px 10px rgba(50,205,50,.3);
    box-shadow: 5px 5px 10px rgba(50,205,50,.3);
}
.button {
  color: white;
  margin: 10px;
  border: .3px solid darkgrey;
  background-color: limegreen;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 205, 50, 0.5)), to(rgb(50, 205, 50)));
  background: -moz-webkit-gradient(top,rgba(50, 205, 50, 0.5), rgb(50, 205, 50));
  background: -o-webkit-gradient(top,rgba(50, 205, 50, 0.5), rgb(50, 205, 50));
  background: -ms-webkit-gradient(top,rgba(50, 205, 50, 0.5), rgb(50, 205, 50));
  border-radius: 5px;
}
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 205, 50, 0)), to(rgba(50, 205, 50, 0.5)));
  background: -moz-webkit-gradient(top,rgba(50, 205, 50, 0), rgba(50, 205, 50, 0.5));
  background: -o-webkit-gradient(top,rgba(50, 205, 50, 0), rgba(50, 205, 50, 0.5));
  background: -ms-webkit-gradient(top,rgba(50, 205, 50, 0), rgba(50, 205, 50, 0.5));
}
.aboutbody {
  color: black;
  display: inline-block;
}
#white {
  background-color: lightgrey;
  margin: 0px 0px 0px -10px;
  width: 1334px;
  padding: 40px 4px 40px 157px;
  height: 470px;
  min-width: 90%;
}
.hide {
  visibility: hidden;
}
.lists  {
  margin: 10px 10px 10px 10px;
  width: 1200px;
}
.inlinelist {
  width: 232px;
  float: left;
  padding: 20px;
  margin: 5px;
}
.meet {
  float: left;
  width: 1200px;
}
.riley {
  height: 201px;
  width: 180px;
  margin: 5px;
  float: left;
  border-radius: 40px;
  -moz-box-shadow: 5px 5px 10px rgba(50,205,50,.5);
  -webkit-box-shadow: 5px 5px 10px rgba(50,205,50,.5);
  box-shadow: 5px 5px 10px rgba(50,205,50,.5);
}
.prelist {
  margin-top: 10px;
  padding-top: 220px;
  height: 40px;
}
.meetreid {
  float: left;
  padding-left: 20px;
  width: 990px;
}
.listhead {
  padding-left: 20px;
  padding-bottom: -10PX;
}
.Sharkimg {
  height: 190px;
  width: 250px;
  border-radius: 40px;
  -moz-box-shadow: 5px 5px 10px rgba(50,205,50,.5);
  -webkit-box-shadow: 5px 5px 10px rgba(50,205,50,.5);
  box-shadow: 5px 5px 10px rgba(50,205,50,.5);
}
div.footerabout {
  padding-top: 15px;
  padding-bottom: 10px;
  width: 1400px;
  height: 20px;
  display: flex;
  vertical-align: baseline;
  justify-content: center;
}
textarea {
  outline: none;
}
.Contactfooter {
  margin-top: 100px;
}
.footer {
 margin-top: 60px;
}
